################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/HttpServerMock/v14
/HMock/bin/Debug
/HMock/obj/Debug
/HMockTests/bin/Debug
/HMockTests/obj/Debug
/.vs/HttpServerMock/v15/sqlite3
/.vs/HttpServerMock/v15
/HMock.Common/bin/Debug
/HMock.Common/obj
